@import "tokyonight.css";

/* Global */
* {
  border: none;
  border-radius: 0;
  font-family: "Adwaita Sans", "Meslo LGS Nerd Font", sans-serif;
  font-weight: bold;
  min-height: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

/* Tooltip */
tooltip {
  background: @bg1;
  border: 1px solid @bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px 10px;
}

/* Workspaces */
#workspaces {
  background-color: @bg0;
  padding: 5px 6px;
  margin-left: 12px;
  border-radius: 18px;
  border: 1px solid @bg2;
}

#workspaces button {
  padding: 0 8px;
  margin: 0 3px;
  border-radius: 50px;
  background-color: @bg2;
  color: @grey1;
  transition: all 0.25s ease-in-out;
}

/* Active workspace */
#workspaces button.active {
  background-color: @blue;
  color: @bg0;
  min-width: 48px;
  font-size: 15px;
}

/* Hover */
#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  min-width: 48px;
}

/* Urgent */
#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  min-width: 48px;
}

/* Modules */
#pulseaudio,
#network,
#clock,
#custom-notification {
  background-color: @bg0;
  padding: 0 15px;
  margin-left: 12px;
  border-radius: 50px;
  border: 1px solid @bg2;
}

/* Individual colors */
#clock {
  color: @blue;
}

#custom-notification {
  color: @fg;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @purple;
}

